{% extends 'base_report.html' %}

{% block Standards %}
<span class="flex-wrap">"3997-00.001 МУ., ГОСТ 34004-2016., ГОСТ Р ЕН 13018-2014., РД 03-606-03., 0398.00.000 МУ.,  РД 03-606-03., СТО 9701105632-003-2021., ГОСТ Р ИСО 17637-2014."</span>
{% endblock %}

{% block Comment %}
<div class="vstack gap-0 mb-3">
    <span><b>Контролю подвергались/Were subjected to control:</b></span>
    <span>Внутренние полости, наружная поверхность, соединительные элементы и работоспособность 
        оборудования./Internal cavities, external surface, connecting elements and equipment operability.</span>
</div>

<div class="vstack gap-0 mb-3">
    <b>Комментарий/Comment:</b>
    <span>Состояние полостей,  поверхностей и резьбовых соединения объекта контроля соответствует нормам 
        сопроводительной и нормативной документации./ The condition of cavities, surfaces and threaded connections of the object of control complies with the standards of
        accompanying and regulatory documentation.</span>
</div>
{% endblock %}

{% block Conclusion %}
<p class="mb-3"><b>Вывод/Conclusion: <u>недопустимых дефектов не обнаружено/no unacceptable defects were found.</u></b></p>
{% endblock %}