{% extends 'base.html' %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<header class="fs-1 text-lg-center py-lg-3">
    <b>{{add_or_edit}} организацию</b>
</header>
<hr>
<form method=post> 
    <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.logo_img) }}
    </dl>
    <div class="row flex-nowraw">
        <input type="hidden" id="fill_from_form" name="fill_from_form" value="true" />
        <div class="col-md-auto align-self-center"> 
            <input class="btn align-self-center bg-dark-subtle btn-outline-dark" type="submit" value="{{add_or_edit}}">
        </div>
    </div>
</form>

{% endblock %}