{% extends 'base.html' %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<header class="fs-1 text-lg-center py-lg-3">
    <b>{{add_or_edit}} в реестр(е)</b>
</header>
<hr>
<form id="hardware_form" method=post enctype=multipart/form-data> 
    <dl>
        <div class="row align-self-start gap-4 mx-3">
            <div class="col-md-auto">
                {{ render_field(form.owner) }}
            </div>
            <div class="col-md-auto">
                {{ render_field(form.setup) }}
            </div>

        </div>

        <div class="row align-self-start gap-5 mx-3 my-lg-5">
            <div class="col-md-auto">
                {{ render_field(form.tape_number) }}
            </div>
            <div class="col-md-auto">
                {{ render_field(form.serial_number) }}
            </div>
            <div class="col-md-auto">
                {{ render_field(form.commissioned) }}
            </div>
            <div class="col-md-auto">
                {{ render_field(form.batch_number) }}
            </div>
        </div>
    </dl>

    <hr>
    <dl>
        <!-- Type form -->
        <form method=post enctype=multipart/form-data> 
            <dl>
                <div class="row align-self-start gap-4 mx-3">
                    <div class="col-md-auto">
                        {{ render_field(type_form.name) }}
                    </div>

                    <div class="col-md-auto">
                        {{ render_field(type_form.comment) }}
                    </div>

                    <div class="col-md-auto">
                        {{ render_field(type_form.manufacturer) }}
                    </div>

                    <div class="col-md-auto">
                        {{ render_field(type_form.batch_number) }}
                    </div>

                    <div class="col-md-auto">
                        {{ render_field(type_form.life_time) }}
                    </div>
                </div>
                
                <div class="row align-self-start gap-5 mx-3 my-lg-5">
                    <div class="hstack col-sm-1 gap-3 align-content-start">
                        {{ render_field(type_form.T1) }}
                        {{ render_field(type_form.T2) }}
                        {{ render_field(type_form.T3) }}
                        {{ render_field(type_form.T4) }}
                        {{ render_field(type_form.T5) }}
                        {{ render_field(type_form.T6) }}
                        {{ render_field(type_form.T7) }}
                    </div>
                </div>

                <div class="row align-self-start gap-5 mx-3 my-lg-5">
                    <div class="hstack col-nd-auto align-content-start">
                        <div class="vstack col-md-auto gap-2">
                            {{ render_field(type_form.stage1) }}
                            {{ render_field(type_form.duration1) }}
                        </div>
                        
                        <div class="vstack col-md-auto gap-2">
                            {{ render_field(type_form.stage2) }}
                            {{ render_field(type_form.duration2) }}
                        </div>

                        <div class="vstack col-md-auto gap-2">
                            {{ render_field(type_form.stage3) }}
                            {{ render_field(type_form.duration3) }}
                        </div>

                        <div class="vstack col-md-auto gap-2">
                            {{ render_field(type_form.stage4) }}
                            {{ render_field(type_form.duration4) }}
                        </div>
                    </div>
                </div>
            </dl>
        </form>
    </dl>
    <div class="row flex-nowraw gap-3 mx-3">
        <input type="hidden" id="fill_from_form" name="fill_from_form" value="true" />
        <div class="col-md-auto align-self-center"> 
            <input class="btn align-self-center bg-dark-subtle btn-outline-dark" form="hardware_form" type="submit" value="{{add_or_edit}}">
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script>
    
    // Check out the top answer here: https://stackoverflow.com/questions/56849253/efficient-way-to-request-back-end-for-data-on-input-change
    // Returns a function, that, as long as it continues to be invoked, will not
    // be triggered. The function will be called after it stops being called for
    // N milliseconds. If `immediate` is passed, trigger the function on the
    // leading edge, instead of the trailing.
    function debounce(func, wait, immediate) {
        var timeout;
        return function() {
            var context = this, args = arguments;
            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };


    document.getElementById('batch_number').addEventListener('change', debounce(function(e){
        const type_info_url = {{ url_for(sidebar_urls["Reports.hardware.load_type_data_from_DB"], batch_number='') |tojson }} + e.target.value;
        fetch(type_info_url)
            .then(res => res.json())
            .then((res) => {
                const data = res.data;
                Object.entries(res).forEach(([key, value]) => {
                    const element = document.getElementById(key);
                    if(element) {
                        element.value = value;
                    } else {
                        console.error(`Element with id ${key} and val ${value} not found.`);
                    }
                });
            });
    }, 500));
</script>
{% endblock %}