{% extends 'base.html' %}

{% block content %}
    <table id="data" class="table table-bordered table-responsive-xl">
        <thead>
        <tr>
            <th>#</th>
            {% if is_inspector %}
                <th>Компания</th>
            {% endif %}
            <th>Юнит</th>
            <th>Место дислокации</th>
            <th>Название</th>
            <th>Характеристики</th>
            <th>Производитель</th>
            <th>Номер партии</th>
            <th>Серийный номер</th>
            <th>Дата ввода в эксплуатацию</th>
            <th>Дата списания</th>
            <th>Дата последнего исследования</th> <!-- href to a report -->
            <th>Дата следующего исследования</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}


{% block scripts %}
    {% if is_inspector %}
        <script>
            $(document).ready(function () {
            $('#data').DataTable({
                ajax: '/api/data/cat',
                columns: [
                {data: '#'},
                {data: 'Компания', orderable: false},
                {data: 'Юнит', orderable: false, searchable: false},
                {data: 'Место дислокации', orderable: false},
                {data: 'Название', orderable: false},
                {data: 'Характеристики', orderable: false},
                {data: 'Производитель', orderable: false},
                {data: 'Номер партии', orderable: false},
                {data: 'Серийный номер', orderable: false},
                {data: 'Дата ввода в эксплуатацию'},
                {data: 'Дата списания'},
                {data: 'Дата последнего исследования'},
                {data: 'Дата следующего исследования'}
                ],
            });
            });
        </script>
    {% else %}
        <script>
            $(document).ready(function () {
            $('#data').DataTable({
                ajax: '/api/data/catalogue',
                serverSide: true,
                columns: [
                {data: '#'},
                {data: 'Юнит'},
                {data: 'Место дислокации', orderable: false},
                {data: 'Название', orderable: false},
                {data: 'Характеристики', orderable: false},
                {data: 'Производитель', orderable: false},
                {data: 'Номер партии', orderable: false},
                {data: 'Серийный номер', orderable: false},
                {data: 'Дата ввода в эксплуатацию'},
                {data: 'Дата списания'},
                {data: 'Дата последнего исследования'},
                {data: 'Дата следующего исследования'}
                ],
            });
            });
        </script>
  {% endif %}
{% endblock %}