{% extends 'base.html' %}

{% block content %}
<div class="container-fluid py-lg-3">
    <div class="hstack gap-3 justify-content-lg-starts">
        <a class="btn btn-primary" href="{{ url_for(sidebar_urls['Lab.add_user'])}}">Добавить</a>
        <button class=" btn btn-danger bg-danger" type="button" id="delete_users_button" name="" onclick="delete_selected()">Удалить выбранные</button>
        
        <span class="align-bottom fs-5 ms-md-3 me-0">Роль</span>
        <div class="btn-group align-content-lg-around">
            <div class="col-md-auto">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" id="role_filter_button">none</button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" type="button" id="show_role_none" onclick="set_role_filter_val('none')">none</button></li>
                    <li><button class="dropdown-item" type="button" id="show_role_admin" onclick="set_role_filter_val('admin')">admin</button></li>
                    <li><button class="dropdown-item" type="button" id="show_role_inspector" onclick="set_role_filter_val('inspector')">inspector</button></li>
                    <li><button class="dropdown-item" type="button" id="show_role_client" onclick="set_role_filter_val('client')">client</button></li>
                </ul>
            </div>
        </div>
        
    </div>

    <style>
        tr.odd.selected td{
            background-color: rgb(170, 199, 251) !important; /* Add !important to make sure override datables base styles */
        }
        tr.even.selected td{
            background-color: rgb(170, 199, 251) !important; /* Add !important to make sure override datables base styles */
        }
    </style>
    <table id="users_table" class="table table-bordered" style="width:100%">
        <thead>
        <tr>
            <th name ='id'>id</th>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Номер удостоверения</th> <!-- points to href with it -->
            <th>Удостоверение годно до</th>
            <th>e-mail</th>
            <th>Тел.</th>
            <th>Дата рождения</th>
            <th>Роль</th>
            <th>Редактировать</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    const selected = [];
    let delete_list = [];
    var table = $('#users_table').DataTable({
        retrieve: true,
        ajax: {
                url: '/api/data/lab/users',
                rowId: 'id',
                data: function ( d ) {
                    return $.extend( {}, d, {
                        "role_filter": document.getElementById('role_filter_button').innerText,
                        "delete_users": get_delete_list()
                    } );
                },
                "rowCallback": function( row, data ) {
                    if ( $.inArray(data.DT_RowId, selected) !== -1 ) {
                        $(row).addClass('selected');
                }
        }
        },
        columns: [
            {data: 'id'},
            {data: 'ФИО', orderable: false},
            {data: 'Должность', orderable: false, searchable: false},
            {data: 'Номер удостоверения', orderable: false},
            {data: 'Удостоверение годно до'},
            {data: 'e-mail', orderable: false},
            {data: 'Тел.', orderable: false},
            {data: 'Дата рождения', orderable: false},
            {data: 'Роль', orderable: false},
            {
                data: null,
                render: function ( data, type, row, meta ) {
                return  '<div class="d-grid gap-2">' +
                            '<button type="button" class="btn btn-primary btn-sm" onclick="edit_element(' + row.id + ')">Изменить</button>' +
                            '<button type="button" class="btn btn-primary btn-sm" onclick="delete_element(' + row.id + ')">Удалить</button>' +
                        '</div>';
                },
            },
        ]
    });

    function get_delete_list() {
        return delete_list.join(',');
    }

    table.on('click', 'tbody tr', function () {
        let id = this.childNodes[0].innerHTML;
        let index = $.inArray(id, selected);
        
        if ( index === -1 ) {
            selected.push( id );
        } else {
            selected.splice( index, 1 );
        }
        $(this).toggleClass('selected');
    });

    function delete_selected() {
        if(selected.length != 0) {
            if (confirm("Вы хотите удалить " + table.rows('.selected').data().length + ' элемент(ов). Вы уверены?')) {
                delete_list = [...selected];
                table.ajax.reload();
                selected.length = 0;
                delete_list = [];
            } 
        }
    }

    function delete_element(id) {
        if (confirm('Вы хотите удалить элемент с id = ' + id + '. Вы уверены?')) {
            delete_list = [id];
            table.ajax.reload();
            delete_list = [];
        } 
    }

    function edit_element(id) {
        window.location.href = {{ url_for(sidebar_urls["Lab.edit_user"], id=id)|tojson }} + id
    }

    function set_role_filter_val(val) {    
        document.getElementById("role_filter_button").innerText = val;
        table.ajax.reload();
    }
</script>
{% endblock %}